.btn.btn-stroke:hover {
  background-color: #F8602D;
}

.main-color {
  color: #F8602D;
}

.ev-home-4 .ev-countdown {
  background: #F8602D;
}

.ev-loc-fix li .fa {
  color: #F8602D;
}

.ev-loc-fix li h4 {
  color: #F8602D;
}

.ev-loc-fix li h3 {
  color: #F8602D;
}

.ev-home-5 .ev-event-start-time {
  background-color: #F8602D;
}

.ev-about-gallery .ab-shape-img .back-shape-top {
  background-color: #F8602D;
}

.ev-about-gallery .ab-shape-img-bottom .back-shape-btm {
  background-color: #F8602D;
}

.ev-pricing .price-item:before {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009CF8), to(#15008D));
  background-image: linear-gradient(180deg, #009CF8 0%, #15008D 100%);
}

.mh-header-bg {
  background-image: linear-gradient(60deg, #009CF8 0%, #15008D 100%);
}

.ev-schedule {
  background-image: linear-gradient(60deg, #009CF8 0%, #15008D 100%);
}

.ev-footer {
  background-image: linear-gradient(60deg, #009CF8 0%, #15008D 100%);
}

.portfolio-nav ul li:hover {
  color: #F8602D;
}

.portfolio-nav ul li.active {
  color: #F8602D;
}

.ev-team-item .team-member-content h6 {
  color: #F8602D;
}

.ev-blog-content .ev-blg-btn a:hover {
  color: #F8602D;
}

.ev-schedule .ev-tab-content .spk-info .spk-social .social-icon li:hover a .fa {
  background-color: #F8602D;
}

.ev-schedule .ev-tab-content .spk-info .spk-social .social-icon li a .fa {
  color: #F8602D;
}

.ev-schedule .ev-time-nav .nav-link.active {
  border-bottom: 2px solid #F8602D;
  color: #F8602D;
}

.ev-footer-bottom a:hover {
  color: #F8602D;
}

.ev-footer-bottom .footer-links a:hover {
  color: #F8602D;
}

.mh-testimonial .mh-client-item img {
  border: 0px solid #F8602D;
}

.mh-testimonial .mh-client-item p::after {
  color: #F8602D;
}

.mh-testimonial .owl-controls .owl-dots .owl-dot {
  border: 1px solid #F8602D;
}

.mh-testimonial .owl-controls .owl-dots .owl-dot.active {
  background-color: #F8602D;
}

.mh-footer-address .mh-address-footer-item .each-icon .fa {
  border-color: #F8602D;
}

.zb-address address a:hover {
  color: #F8602D;
}

.uv-accordinaton-list:hover {
  color: #F8602D;
}

.uv-right-arrow.color {
  border: 1px solid #F8602D;
  background: #F8602D;
}

.ev-loc-fix li h3 span {
  color: #FFB183;
}

.lo_content_inner .ev-tagline {
  color: #fff;
}

.name .custom:after {
  color: #FFB183;
}

.time .counter {
  color: #FFB183;
}

.time .title {
  color: #FFB183;
}

.ev-countdown .each-countdown-text span {
  color: #FFB183;
}

.ev-section-title .section-tagline {
  color: #FFB183;
}

.ev-about .ab-shape {
  background: #FFB183;
}

.ev-about-2 blockquote {
  border-left: 6px solid #FFB183;
}

.ev-schedule .ev-sc-date-nav .nav-link span {
  color: #FFB183;
}


.ev-pricing .price-item .ev-price-list li .check {
  background-color: rgba(255, 255, 255, 0.4);
}

.btn.btn-fill.btn-white:hover {
  background: #f74d14;
  border-color: #f74d14;
}

.btn.btn-fill {
  background-color: #F8602D;
}

.btn.btn-fill:active {
  background: #F8602D;
}

.btn.btn-fill:hover {
  background: #f74d14;
}

.mh-project-gallery figure figcaption .ev-portfolio-cap-inner .btn {
  background-color: #F8602D;
}

.btn {
  -webkit-box-shadow: 0 15px 63px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 63px 0 rgba(0, 0, 0, 0.2);
}

.mh-header .navbar-nav li a:hover {
  /* color: #F8602D; */
}
/*# sourceMappingURL=color.css.map */